[2019-01-10 21:47] swinslow opened #1 "Update code and docs for move to spdx/tools-golang"
The code and documentation still make reference to the project's original location at https://github.com/swinslow/spdx-go. These should all be updated to refer to the new `spdx/tools-golang` repo.

This likely includes code within some of the packages to, e.g., include the tool's name in new SPDX documents.

Basically, anything where the strings `swinslow` or `spdx-go` appear should likely be chan

[2019-01-10 21:49] swinslow opened #2 "Builder uses local time rather than UTC for CreationInfo.Created"
Copied over from https://github.com/swinslow/spdx-go/issues/7:

Currently, the `builder` package uses time.Now() to get the time for CreationInfo.Created. According to 2.9.1, it should be in UTC. Note that just calling UTC() as part of getting the time doesn't solve this, presumably because it needs more info about the user's local time zone.

[2019-01-10 21:50] swinslow opened #3 "Implement or remove tvloader/config.go"
Copied over from https://github.com/swinslow/spdx-go/issues/28:

In package `tvloader`, config.go has a Config structure that could be implemented to enable configuring the behavior of the tag-value loader. E.g., to flag it to stop on any error; to flag it to perform additional validation during the loading process; etc.

However, right now that file is unused. It should either be implemented, or

[2019-01-12 19:31] #1 closed

[2019-03-06 02:10] swinslow commented on #2
Closed by #6

[2019-03-06 02:10] #2 closed

[2019-03-06 02:17] swinslow commented on #3
Closed by #5

[2019-03-06 02:17] #3 closed

[2019-03-24 22:42] swinslow opened #7 "Should be able to read and write RDF files"
**Goal**

tools-golang currently only handles SPDX files in tag-value format. It should also be capable of reading and writing SPDX files in RDF format, as an RDF format is also officially defined by the SPDX spec.

**General description**

Most of the functionality for tools-golang centers around the data structures defined in the [spdx](https://github.com/spdx/tools-golang/tree/master/v0/spdx) G

[2019-03-28 01:14] rishabh-bhatnagar commented on #7
@swinslow , I found this beautiful library when in go-lang https://godoc.org/github.com/knakk/rdf.

Is this issue assigned to someone or is anyone already working on this issue.
If not, I would like to take responsibility of this issue and also other file formats for Gsoc 2019. Is there any microtask that I need to perform??

[2019-03-28 01:48] goneall commented on #7
@rishabh-bhatnagar The only issue I see with the knakk/rdf is lack of support for encoding RDF/XML which is used in the Java SPDX tools.

If we can find a library that also encodes, that would be great (we use [Apache Jena](https://jena.apache.org/) in the Java tools.

If no such libraries exist, going forward with knakk/rdf would probably be the best route as it does support other formats and can

[2019-03-28 02:01] rishabh-bhatnagar commented on #7
I didn't find any such library written in go-lang that can support RDF/XML document.

Is there any other person who has already started working on this project for Gsoc 2019??

[2019-03-30 11:35] RishabhBhatnagar commented on #7
I have already started writing library for the same. Should I continue writing?? or focus on making the functionalities available directly in rdfloader and rdfsaver??

[2019-03-30 14:28] swinslow commented on #7
Unfortunately, it looks like https://github.com/knaak/rdf doesn't use a real license -- see https://github.com/knakk/rdf/blob/master/LICENSE. And, it appears the author is not willing to add one, see https://github.com/knakk/rdf/issues/15.

Given that, and given SPDX's focus on proper licensing, I don't think we would be comfortable using knakk/rdf as a core dependency.

If there really isn't any

[2019-03-30 14:32] RishabhBhatnagar commented on #7
I was asking that,
If there is no existing libraries, why not make a new one??
And if i am making a new one, should i include it as files in this repostitory or make it a separate library which will be a dependency for this project??

[2019-03-30 14:41] swinslow commented on #7
If you're looking at making a new library to parse and handle RDF data, feel free -- I certainly won't argue  =)

I'd just say, keep in mind that writing a parser library can be an enormous undertaking. I myself don't have any real familiarity with RDF data models or RDF/XML, which is one reason we don't have support here yet. If you feel confident in being able to write an RDF library in Golang,

[2019-04-16 14:51] swinslow opened #8 "tvsaver: multi-line copyright handled incorrectly"
When tvsaver saves a File section with a multi-line copyright notice (`FileCopyrightText`), it is not wrapping it in `<text></text>` tags.

As a result, the generated file puts the second and subsequent lines on new lines without being wrapped in `<text>` tags, and the generated file is invalid and cannot be read back in.

[2019-04-16 14:57] #8 closed

[2019-04-16 15:02] swinslow opened #10 "tvloader: Cannot read Relationships after Other Licenses"
Currently, tvloader will fail if it sees a `Relationship` tag while parsing an `OtherLicense` section. It apparently assumes that any Relationships will appear prior to moving into parsing Other Licenses.

As a result, it cannot parse files with `Relationship` tags following `OtherLicense` sections -- even though this is valid syntax (and is even what gets generated by tvsaver).

[2019-04-18 00:25] swinslow commented on #10
Although I haven't tested it, the same is likely true for `Review` sections (which are deprecated in 2.1, but still valid).

As noted in [tvloader-assumptions.md](https://github.com/spdx/tools-golang/blob/ae1c8cc9c9d8a8d742db9d217dcfebe1d4e86470/docs/tvloader-assumptions.md), tvloader assumes that `OtherLicense` sections will come last (other than `Review` sections which can follow them). Which I

[2019-04-18 00:59] #10 closed

[2019-04-20 14:22] swinslow opened #12 "Should use go modules"
Currently, tools-golang doesn't have any dependencies, so dependency management (as well as how tools-golang is imported by downstream applications) hasn't really been thought through.

tools-golang should use go modules, see [[1]](https://github.com/golang/go/wiki/Modules), [[2]](https://blog.golang.org/modules2019). Specifically, it should be available for others to import as a go module.

I'm g

[2019-12-08 22:57] swinslow opened #20 "tvloader: not parsing Package after unpackaged file"
When using tvloader to parse https://github.com/spdx/spdx-spec/blob/development/v2.2/examples/SPDXTagExample-v2.0.spdx (with a change to make the spdx version 2.1), it should detect the glibc Package with ID SPDXRef-Package.

However, the resulting document does not appear to include this Package, and all files in the document are being considered as unpackaged.

[2019-12-08 23:25] swinslow commented on #20
It looks like the problem is at https://github.com/spdx/tools-golang/blob/ea86b81b83786a1f456cf28c17c487a229a30eed/v0/tvloader/parser2v1/parse_package.go#L21

When parsing a new PackageName tag, it checks to see whether the current Package already has a name. If it doesn’t, then we start a new Package.

But for an IsUnpackaged set of Files, the pseudo-Package won’t have a name. So instead of creat

[2019-12-09 13:36] #20 closed

[2019-12-25 06:38] RishabhBhatnagar commented on #12
tools-golang can still be used as a module.

[code]

This is the way how we can use it as a module. Import has an underscore to allow compiling the code without using the imported library.

[2020-01-02 10:00] rtgdk commented on #12
@RishabhBhatnagar That's useful. But I think what @swinslow wants is the directory layout of the tools-golang as a module. For eg., we need a go.mod file in the project to initialise the project as a module. Although right now, golang is going through a lot of changes on how the module dependency work. So we want to figure out a way to implement the project as a module which can be consistent with

[2020-01-02 13:03] RishabhBhatnagar commented on #12
@rtgdk, Okay.
So, according to [using-go-modules](https://blog.golang.org/using-go-modules), Starting in Go 1.13, module mode is the default for all development.

But, the module feature is yet to be finalized. It will be finalized in Go 1.14 version. Initial variants of Go 1.14 are already released but they are unstable.

I don't think we should build on an unstable release. What should be done?

[2020-01-02 13:38] swinslow commented on #12
Hi @RishabhBhatnagar, @rtgdk is right, that's what I'm hoping to do -- is to restructure spdx/tools-golang so that it follows the right practices for use as a Go module.

If you want to submit a PR that would add a go.mod file and make other appropriate changes, that would be great and I would gladly review it. I'm guessing that e.g. the v0/ directory should be removed, references to it in the oth

[2020-01-02 13:59] rtgdk commented on #12
@RishabhBhatnagar Yeah, you can go ahead and try the `go mod init` command and change the directory layout as necessary. You would also need to take care of the different packages like 'builder' , 'idsearcher', etc. - they should be easily importable too. Also, checkout the changes done in `rdfreader` branch.

Also, as @swinslow  said, you would need to update the test and some code for these chan

[2020-01-06 14:07] RishabhBhatnagar commented on #12
Upon discussion in the gitter forum, I've got a clear idea that:
tools-golang is in v0 which is capable of dealing with spdx version 2.1.
Which commit should I mark as v0.0.0??

[2020-01-07 11:25] rtgdk commented on #12
@RishabhBhatnagar  You can start by creating your own branch, make all the necessary changes and then mark that commit as v0.0.0

[2020-02-17 19:57] swinslow commented on #12
Closed by #22, thanks again @RishabhBhatnagar!

[2020-02-17 19:57] #12 closed

[2020-04-11 19:31] swinslow opened #23 "Should be able to read and write JSON files"
SPDX 2.2 will include a new JSON format: see https://github.com/spdx/spdx-spec/blob/development/v2.2/examples/SPDXJSONExample-v2.2.spdx.json

tools-golang should support reading from and writing to SPDX documents in JSON format. This will probably require a translation between the tools-golang data model and an intermediate model for the JSON format.

[2020-04-11 19:37] swinslow opened #24 "Consider changing data model to IDs as keys"
Currently, the data model for spdx/tools-golang stores everything in slices. For example:

- [Document2_1](https://github.com/spdx/tools-golang/blob/b68821f66a8d47c441e3da9ab059205e7e30b3f4/spdx/document.go#L8) contains slices of packages, other license sections, relationships, etc.
- [Package2_1](https://github.com/spdx/tools-golang/blob/b68821f66a8d47c441e3da9ab059205e7e30b3f4/spdx/package.go#L1

[2020-04-25 18:14] swinslow opened #25 "Should handle SPDX v2.2"
Version 2.2 of the SPDX spec is due to be published shortly (current draft is available at: https://spdx.github.io/spdx-spec/v2-draft/)

All parts of spdx/tools-golang should be able to handle 2.2 documents.

Additionally, ideally spdx/tools-golang should include functionality to translate an in-memory SPDX 2.1 document to 2.2, and vice versa (in the latter case, losing information where necessary

[2020-05-03 18:00] swinslow commented on #24
One complication is that this means that you can't add a package to a Document's `Packages` map, unless and until you've got an SPDXID for it. Similar for `Files` and `Snippets`.

That complicates parsing a bit, because it means we can't add it until we've seen an ID... but it doesn't complicate it much, because we're already holding a pointer to the current Package, within the parser itself. So w

[2020-05-03 18:03] swinslow commented on #24
There's a related question of whether SPDXID should still be a property of the `Package` / `File` / `Snippet` struct itself. Or whether the key in the relevant map should be the single source of truth for what its identifier is.

I think it should still be a separate element of the individual item, primarily so that you can know what its identifier is just based on the struct itself -- without hav

[2020-05-03 18:20] swinslow commented on #24
...except note also that this highlights that treating unpackaged files as a pseudo-"Package" inside the `Packages` map doesn't really work. Because we can't map an SPDX identifier to the pseudo-Package (since none exists).

This means that probably this should just be replaced with a top-level "UnpackagedFiles" map of ElementIDs to Files at the Document level, and pull it out of the "Packages" ma

[2020-05-09 18:19] swinslow commented on #24
Note that for tag-value files, each Snippet section is required to begin with a Snippet SPDX Identifier. From https://spdx.github.io/spdx-spec/5-snippet-information/:

This means that at least for snippets, we can ensure that as soon as we see one, we can add it to the current Snippets list -- since it will always have an SPDX identifier which we will see first.

[2020-05-09 18:23] swinslow opened #26 "Should warn or error for pkgs / files without SPDX IDs"
Placeholder for now, to handle after #24 is implemented:

Should be sure that tvparser either warns or errors out upon seeing a Package or File section that is incomplete due to lack of an SPDX ID.

For example, a new package section will be started when the next `PackageName` tag is seen, but if it goes on to the next Package or File without seeing an `SPDXID` tag for that first Package, then it

[2020-05-09 18:54] goneall commented on #24
A few thoughts based on the java tool's redesign from a non-Go programmer.

Agree with this approach.  Having a map or some mechanism to look up based on ID is very convenient.  It is also helpful to have a mechanism to generate a unique ID for document creation use cases.

This is the approach taken in the Java tools and it hasn't caused any issues.  One problem we did run into was having referen

[2020-05-09 19:42] swinslow commented on #24
Thanks @goneall! This is all very helpful. Appreciate your weighing in on the golang tools, it's helpful to get input from folks outside of just my own head  =)

I'm working on a rewrite of the 2.1 golang tools to align with this. Planning to get it changed over to store and permit lookup by ID before I start cloning relevant bits of the code to work with 2.2, so that I'm not later trying to refac

[2020-05-09 19:44] swinslow opened #27 "Consider whether to add top-level map of all IDs"
Separate tracking issue for @goneall's comment at https://github.com/spdx/tools-golang/issues/24#issuecomment-626220481:

Consider whether to add this to the Document structure. It would enable quickly finding an element. In particular, for documents with multiple Packages and Files within each one, it would enable quickly finding a File by ID with a single lookup, rather than crawling through eac

[2020-05-10 16:32] swinslow opened #28 "Should add spdxlib utility package"
Follow-on to issue #24

It would be helpful to have a package of utility functions that make it easier to work with SPDX files. In particular, now that packages etc. are stored using their SPDX identifiers as keys, it would be helpful to be able to quickly find the SPDX identifier for any DESCRIBES relationships for a document -- and/or a slice of just the single Package ID in the document, if the

[2020-05-25 21:04] #24 closed

[2020-05-25 21:04] #28 closed

[2020-06-06 13:24] RishabhBhatnagar opened #30 "Failing Tests on Windows Machine"
I am on a Windows 10 Home Version 1909 OS,
The tests are failing on my machine.

The following command was used to test all the packages recursively.
`go test ./...` was run in the root directory.

[This link](https://pastebin.com/raw/Gm4xZKW1) has the output of the test.

[2020-06-06 13:44] swinslow commented on #30
Thanks @RishabhBhatnagar! I'll take a look.

[2020-06-07 16:42] swinslow commented on #25
Updated URL now that 2.2 is released: currently https://spdx.github.io/spdx-spec/

[2020-06-07 19:16] swinslow opened #31 "Fix multiline snippet copyright in tvsaver"
Currently, in tvsaver, Snippet copyright text lines are not saved with a `textify` call: https://github.com/spdx/tools-golang/blob/feb87345dfd6d6f76a9b1fc2ef413a2e8a756be8/tvsaver/saver2v1/save_snippet.go#L36

(compare, for Files, https://github.com/spdx/tools-golang/blob/feb87345dfd6d6f76a9b1fc2ef413a2e8a756be8/tvsaver/saver2v1/save_file.go#L42 and corresponding test at https://github.com/spdx/to

[2020-06-13 18:53] swinslow opened #33 "Switch to GitHub Actions"

[2020-06-13 19:06] #33 closed

[2020-06-14 20:14] #25 closed

[2020-06-14 21:44] swinslow opened #35 "Fix build badges"
The current build badge is still pointing to Travis. It should point to the results of the GitHub Actions build instead.

[2020-06-14 21:52] swinslow commented on #35
Travis badge has been replaced, but the coveralls badge also appears to be pointing to perhaps the wrong image URL:

https://coveralls.io/repos/github/spdx/tools-golang/badge.svg

should perhaps instead be:

https://coveralls.io/repos/github/spdx/tools-golang/badge.svg?branch=master

Also, the GitHub Actions badge link should probably go to the actual Actions page rather than just to the badge ima

[2020-06-14 22:02] #35 closed

[2020-07-27 14:55] RishabhBhatnagar opened #38 "Inconsistent Expectation and Implementation"
According to [spdx/tools-golang/spdx/identifier.go#L8](https://github.com/spdx/tools-golang/blob/5a270f97f4106cf989761f9143e23132c1bffb3c/spdx/identifier.go#L8), the `ElementID` must not contain _"SPDX-Ref-"_ portion.
But while setting SPDXID in tvloader, [parse_creation_info.go#L29](https://github.com/spdx/tools-golang/blob/5a270f97f4106cf989761f9143e23132c1bffb3c/tvloader/parser2v2/parse_creatio

[2020-07-27 19:20] swinslow commented on #38
Thanks @RishabhBhatnagar -- good catch, I think you're right, looks like something is incorrect here. I think it should be testing for `DOCUMENT` and not `SPDXRef-Document`, since `DOCUMENT` is how it should be getting stored internally. Let me take a closer look and see what's going on here.

[2020-07-30 17:32] RishabhBhatnagar opened #39 "Ambiguity in ExternalDocumentRef of the spdx data model"
[tools-golang/spdx/creation_info.go#L31](https://github.com/RishabhBhatnagar/tools-golang/blob/5a270f97f4106cf989761f9143e23132c1bffb3c/spdx/creation_info.go#L31) expects the ExternalDocumentRefs to be a list of strings.
But from the [spdx-spec](https://spdx.dev/wp-content/uploads/sites/41/2017/12/spdxversion2.1.pdf#h.h430e9ypa0j9) of externalDocumentRef for RDF file, it can be seen that externalD

[2020-08-22 15:18] swinslow opened #41 "Handle additional checksums permitted by 2.2"
In SPDX 2.1 and earlier, the only hash algorithms that were permitted for e.g. File checksums, Package checksums, etc. were SHA1 (mandatory), SHA256 (optional) and MD5 (optional). Because of this, those fields were represented as three separate fields, one for each checksum type (see e.g. [here](https://github.com/spdx/tools-golang/blob/5a270f97f4106cf989761f9143e23132c1bffb3c/spdx/file.go#L20)).

[2020-10-26 12:08] RishabhBhatnagar commented on #23
The provided link is broken. The correct link might be https://github.com/spdx/spdx-spec/blob/development/v2.2/examples/SPDXJSONExample-v2.2.spdx.json .

[2020-11-08 14:03] swinslow commented on #23
updated the issue, thanks @RishabhBhatnagar!

[2020-11-10 19:11] #39 closed

[2020-11-11 17:38] #38 closed

[2020-11-13 13:03] RishabhBhatnagar opened #47 "[Optional Upgrade] Remove Duplicate Prefixes In The Field Names"
Some of the structs in the tools-golang spdx data model has members that repeat the name of the struct in their name.
The member of such structs should be refactored to remove the name of the struct they are contained in.

For example,
[Package struct](https://github.com/spdx/tools-golang/blob/4ca6cd1fc37977db1969fcfdfa33dabbb2588010/spdx/package.go#L6) have fields like PackageName, PackageVersion

[2020-11-13 13:11] RishabhBhatnagar opened #48 "[Optional Upgrade] SPDX Item"
As evident from the [UML diagram](https://github.com/spdx/spdx-spec/blob/development/v2.2.1/model/SPDX-UML-Class-Diagram.jpg), classes like Package, File, Snippets, etc derive some of their fields/properties from an abstract class called SpdxItem.

Currently, each of the subclasses define each of those properties in their own structs. I suggest pulling out the common fields and create a new struct

[2020-11-13 13:50] RishabhBhatnagar opened #49 "[Optional Upgrade] Checksum Struct"
Checksums are currently stored in coalesced strings. They can be upgraded to use a struct.

Following seems like a suitable implementation:
[code]
For now, the Algorithm field is kept as a String.

We can also make it a field that allows only algorithms defined by the model in an enum.
Implementation goes as follows:
[code]

[2020-11-14 16:57] swinslow commented on #49
+1 from me, thanks @RishabhBhatnagar. I like this as an approach, including the enum for algorithms. A list of the particular algorithms recognized in SPDX 2.2 can be found in [section 3.10.4](https://spdx.github.io/spdx-spec/3-package-information/#310-package-checksum).

Shifting in this direction would also enable having a single common utility function to parse algorithm:value checksum strings

[2020-11-14 17:03] swinslow commented on #48
This is an interesting thought, @RishabhBhatnagar. For the future SPDX 3.0 spec, when we implement that in the Golang tools, I definitely agree that we should more closely follow the model.

For the implementation of the current versions 2.1 and 2.2, I am less sure but could be convinced. Would this make it easier to interchange with the RDF parser / writer that you've been working on? If so, I'd

[2020-11-14 17:04] swinslow commented on #47
+1, this is a good idea. The struct fields have the names they currently do because I was closely mirroring the tag-value field names. But it would be shorter and simpler to use without having to repeat the prefix over and over.

[2020-11-14 17:55] swinslow commented on #7
RDF parsing merged in PR #46. There are some things to address for which I'll file separate issues.

I'll keep this issue open until the RDF writing side of things is implemented as well.

[2020-11-14 18:13] swinslow opened #51 "rdfloader: Missing Packages from parsing example file"
When running rdfloader on the [canonical sample SPDX RDF file](https://github.com/spdx/spdx-spec/blob/development/v2.2.1/examples/SPDXRdfExample-v2.2.spdx.rdf.xml), the parsing completes without any error message. However, not all of the data appears to be getting transferred into the main data model.

The following sections are getting filled in:
* Creation Info
* Unpackaged Files
* Other License

[2020-11-14 18:14] swinslow commented on #51
@RishabhBhatnagar this is the main issue I noted in my comment on #46 -- grateful if you can take a look at this!

[2020-11-14 18:35] swinslow opened #53 "tvsaver: check multiline <text> tag wrapping"
From some recent testing on saving tag-value documents, it looks like some multiline fields are not getting correctly wrapped with `<text>...</text>` tags when they run over more than a single line.

In particular, I've noticed it for the following fields, when reading from an RDF file (the [canonical RDF sample file](https://github.com/spdx/spdx-spec/blob/development/v2.2.1/examples/SPDXRdfExampl

[2020-11-14 18:47] RishabhBhatnagar commented on #48
It doesn't really affect any of the parser or writer (be it rdf or tag-value).

Yes. You are 100% correct. We won't be required to change any code.

Correct me if I am wrong. licenseInfoInSnippet is the field which is _similar_ to licenseInfoFromFiles that you're talking about.
I've been referring to the [rdf spec document](https://spdx.org/rdf/terms) all the time. Even in that document, we can se

[2020-11-14 19:01] RishabhBhatnagar commented on #49
I'm sorry to raise this issue. When I was re-iterating the existing issues.
I found an issue filed by you which proposes the same changes with different intention and field names for the Checksum struct.
The issue: #41 .

@swinslow, let me know which names will you be more comfortable with.

There are two options: {ChecksumAlgorithm, Value} or {ChecksumType, Value}.

[2020-11-15 11:45] RishabhBhatnagar commented on #51
1. [#L258](https://github.com/spdx/spdx-spec/blob/6b44f663463b6f351e264435baf9a5c3b302cd83/examples/SPDXRdfExample-v2.2.spdx.rdf.xml#L258), [#L264](https://github.com/spdx/spdx-spec/blob/6b44f663463b6f351e264435baf9a5c3b302cd83/examples/SPDXRdfExample-v2.2.spdx.rdf.xml#L264): This is a really good catch.
**Reason for the issue:** while parsing a relationship, if the relatedElement is a Package, th

[2020-11-15 19:26] swinslow commented on #51
Thanks @RishabhBhatnagar! This is very helpful. I agree that #54 appears to fix _most_ of the issues here.

I believe I am still seeing some missing data. I'm also cc'ing @goneall as I imagine he may have more useful insight than me about the RDF particulars.

In the [sample RDF file](https://github.com/spdx/spdx-spec/blob/development/v2.2.1/examples/SPDXRdfExample-v2.2.spdx.rdf.xml), there is a f

[2020-11-16 16:39] RishabhBhatnagar commented on #51
I'm sorry for the inconvenience.
The issue is of cyclic dependency.
We have a File with id `SPDXRef-JenaLib` on [line 179](https://github.com/spdx/spdx-spec/blob/development/v2.2.1/examples/SPDXRdfExample-v2.2.spdx.rdf.xml#L179) which is related to a package with id `SPDXRef-Package` declared on [line 258](https://github.com/spdx/spdx-spec/blob/development/v2.2.1/examples/SPDXRdfExample-v2.2.spdx.

[2020-11-16 17:12] RishabhBhatnagar opened #55 "rdfloader: Issue With The Licenses"
Licenses, when associated with itself, will cause infinite recursion in the tool.

Licenses are implemented without using pointers. Hence, everytime a new License object is created.
It is not possible to cache it. As, everytime a new object will be created and adding data to it won't affect the old one causing inconsistency of data.

@swinslow , Is it possible for any spdx document to have cyclic

[2020-11-16 18:14] swinslow commented on #51
That's great -- and yes, please, take as much time as you need. You are under no obligation to fix this on any time frame :)  Cyclical dependencies can be extremely nasty to deal with and you should take as long as you want / need to sort through it. Thank you for everything you're doing here!

[2020-11-16 18:21] swinslow commented on #55
(cc @goneall in case he has different thoughts here)

Hi @RishabhBhatnagar, my expectation is that there should never be a cyclical reference in a license. The reason I say that is because every license in RDF format should (in theory) also be expressible in a corresponding string that is a "license expression". [Appendix IV of the SPDX spec](https://spdx.github.io/spdx-spec/appendix-IV-SPDX-licen

[2020-11-16 20:19] goneall commented on #55
In practice, there shouldn't be any cyclic relationships but it is technically possible in the model since there is no restriction on license sets.

Since it is technically possible, we should check for cyclic references and flag them as an error.  BTW - the same issue is in the Java tools - we're not checking for cyclic references there either.

[2020-11-22 19:29] #51 closed

[2020-11-22 19:29] #55 closed

[2020-11-27 20:01] epicadk commented on #47
Hey , Can I work on this?

[2020-11-27 21:15] swinslow commented on #47
Hi @epicadk, certainly, you're welcome to try this out if you would like!

Note that in addition to renaming the members within the various structs in the [spdx package](https://github.com/spdx/tools-golang/tree/master/spdx), you'll then need to also make conforming changes to [the other packages in the golang tools](https://github.com/spdx/tools-golang) that use those structs.

Feel free to ask m

[2020-11-28 04:44] epicadk commented on #47
Will I also have to change their occurrences in strings? For example in parse_package.go

`switch tag {
	case "PackageName":......`
Should I also edit this string?

[2020-11-28 06:06] RishabhBhatnagar commented on #47
@epicadk, thanks for taking this issue.
If you haven't seen it already, you can refer to the [UML](https://github.com/spdx/spdx-spec/blob/development/v2.2.1/model/SPDX-UML-Class-Diagram.jpg) and [spdx-spec](https://spdx.github.io/spdx-spec/) for more details on the naming. It would be better if the data model stays as close to the documentation as possible.

[2020-12-10 14:02] FotiadisM commented on #23
Would it be a good idea to use JSON struct tags to read and write files?

[2020-12-10 14:28] RishabhBhatnagar commented on #23
@FotiadisM, definitely. That's exactly how I think this issue should be solved.
That way, we'll be free from the hassles of creating a custom parser, reader, writer, etc without writing much code.

[2020-12-28 15:50] swinslow commented on #23
@FotiadisM If you'd like to take a shot at this one, please feel free!

Keep in mind that the canonical JSON file at https://github.com/spdx/spdx-spec/blob/development/v2.2/examples/SPDXJSONExample-v2.2.spdx.json is the format that the JSON files should be in. This may not necessarily reflect the same data structure that is currently used by the SPDX Golang tools -- since the [Golang tools' in-mem

[2021-02-13 05:00] bisakhmondal commented on #31
Hello @swinslow, I'd like to open a PR with the fix. Would you mind if I do it? Currently, there is no test for multiline `SnippetCopyrightText`, should I add one too?
Thanks.

[2021-02-14 22:46] swinslow commented on #31
Thanks @bisakhmondal, yes, please feel free to submit a PR! And yes, grateful if you can include a test so that it checks for this case.

[2021-02-15 05:22] bisakhmondal commented on #31
Submitted :). I'd appreciate your feedback. Thank you.

[2021-02-15 19:25] specter25 commented on #23
@swinslow , @RishabhBhatnagar i wanted to contribute in this issue . I have gone through the tvloader code and understood it's working , i hope it will help to fix this issue  . For JSON we don't need a custom parser , we can use struct tags and Golang JSON libraries . Can I take a shot at it ?

[2021-02-19 11:00] bisakhmondal commented on #7
Hey!! @swinslow, @RishabhBhatnagar. I am willing to work on this issue for the Gsoc-2021.
On PR #46 @RishabhBhatnagar already implemented the `rdfloader` part, & as the `rdfsaver` part still need to be coded, I want to work on that feature.  I would be very much happy if you guys guide me for the same. Is there any task left, on the existing implementation to get more familiarize with the current

[2021-02-21 03:14] RishabhBhatnagar commented on #23
@specter25 if you want you may give it a whirl.
If you're interested, this is included as one of the projects for the upcoming gsoc programme.
[https://wiki.spdx.org/view/GSOC/GSOC_ProjectIdeas#JSON_Support_for_Golang_libraries](https://wiki.spdx.org/view/GSOC/GSOC_ProjectIdeas#JSON_Support_for_Golang_libraries).

You can read more about the spdx document specification from the following website:

[2021-02-21 04:18] specter25 commented on #23
Yeah i am interested to work on this issue in GSOC 2021  . I will definitely give it a try. Thanks.

[2021-02-21 04:54] RishabhBhatnagar commented on #7
Hello @bisakhmondal.
You can find the project idea [here](https://wiki.spdx.org/view/GSOC/GSOC_ProjectIdeas#RDF_Writer_for_Golang)

For familiarizing with the current codebase, you can run [examples](https://github.com/spdx/tools-golang/tree/master/examples) and tinker around.

To create a writer for the spdx document, it is recommended to read more about the [spdx spec](https://spdx.github.io/spd

[2021-02-21 19:54] bisakhmondal commented on #7
Thanks, @RishabhBhatnagar, for such a meticulously written guide. Haha no no, I'm not confused yet :) Give me a day or two for going through these links and the work you put in the gordf.  Will get back to you then.

[2021-02-22 19:01] specter25 commented on #53
@swinslow this can be fixed if the wrap the above mentioned fields inside the textify function  when they are being written to the io.Writer i believe .

[2021-02-24 20:10] matthewkmayer opened #59 "Relationship field in tag/value parser rejects valid values"
Thanks for making this Go library! Having the ability to use SPDX files in Go is excellent.

I think I've found a bug in how the tag/value parser handles Relationship fields: [SPDX 2.2 specifies](https://spdx.github.io/spdx-spec/7-relationships-between-SPDX-elements/) this example is valid:

[code]

However, with a file containing

[code]

the `tvloader.Load2_2(r)` call returns an error stating `m

[2021-02-24 20:28] swinslow commented on #59
Thanks Matt! This is a great catch. You're right, currently the parser for Relationships is probably assuming that both parts of the Relationship will be valid SPDX identifiers -- but yes, as of 2.2 it should catch NOASSERTION (and also NONE) as valid options here.

Thanks for filing this -- I will try to take a look at addressing this soon. I am trying to carve out some time to address a handful

[2021-02-27 09:10] specter25 commented on #53
@swinslow can i work on this issue.

[2021-02-27 16:12] specter25 commented on #49
https://github.com/spdx/spdx-spec/blob/development/v2.2/examples/SPDXRdfExample-v2.2.spdx.rdf.xml#L21
https://github.com/spdx/spdx-spec/blob/development/v2.2/examples/SPDXJSONExample-v2.2.spdx.json#L69

@RishabhBhatnagar , @swinslow various specs use the word "algorithm" to specify the algoritm used . So i think using  this {ChecksumAlgorithm, Value} format would be better .
Moreover , i am willin

[2021-03-05 05:21] bisakhmondal commented on #7
Hii @RishabhBhatnagar, I read those amazing docs, now am pretty much comfortable with handling RDF files. Thank you again. Do you have any mini task in your mind regarding the project, I'd be happy to implement it :)

[2021-03-07 06:47] varbhat commented on #23
@RishabhBhatnagar @swinslow
i am also interested in working on this.

1) There are alternative json parsers too, Should we consider them.

https://github.com/buger/jsonparser

https://github.com/tidwall/gjson

Latter one feels good too. Can we use them since it may ease some of our work?

2) If we are using struct tags to parse json(which i think that we shouldn't as we can some other method to di

[2021-03-07 11:10] bisakhmondal commented on #48
@RishabhBhatnagar regarding your thoughts on SpdxItem to make it more closer to spdx-spec model, I like them :+1: . If we need this, extending the thoughts you mentioned, can we go for an extra layer of abstraction on top of SpdxItem (let's assume it's the grandparent here), though it's slightly deviating from the UML diagram?

Instead of directly deriving from SpdxItem, File & Snippet structs der

[2021-03-20 18:56] swinslow opened #61 "Push 0.1.0 release"
Several of the currently pending PRs and issues propose significant changes to the project and API.

Before merging those, we should push a 0.1.0 release with the code in its current state, so that anyone who is currently using tools-golang won't find the API changes to be too disruptive. We are still not yet at v1.0.0 so folks should not expect the API to be stable, but I'd still like to minimize

[2021-03-20 20:06] swinslow commented on #61
Completed 2021-03-20, see #62 and https://github.com/spdx/tools-golang/releases/tag/v0.1.0

[2021-03-20 20:06] #61 closed

[2021-03-21 15:32] #49 closed

[2021-03-23 08:08] shubhamgupta2956 commented on #53
Hello everyone, I would like to work on this issue. Can I start?

[2021-03-26 17:35] djfemz commented on #31
Hi @swinslow , is this issue still open? I would like to try my hand out on this.

[2021-03-26 18:31] djfemz commented on #27
Hey, @swinslow  can I try my hand on this issue? I would like to give it a go.

[2021-03-27 11:32] specter25 commented on #26
@swinslow sir , i want to work on this . Can i start ?

[2021-03-28 01:43] RishabhBhatnagar commented on #41
Having merged #60, we can close this issue.

[2021-04-26 18:11] swinslow opened #67 "Switch ExternalDocumentRefs to use SHA1 instead of SHA256"
It appears that External Document References (see https://spdx.github.io/spdx-spec/2-document-creation-information/#26-external-document-references) may require SHA1 instead of SHA256 in SPDX 2.1 and 2.2.

To be confirmed, but if this is required, then tools-golang should be updated accordingly.

[2021-05-02 21:28] #31 closed

[2021-05-02 21:42] #59 closed

[2021-05-02 22:29] #41 closed

[2021-06-05 15:17] swinslow opened #69 "Rename primary branch to 'main'"
see https://github.com/github/renaming#renaming-existing-branches

[2021-06-05 15:19] swinslow commented on #69
done, see https://github.com/spdx/tools-golang/branches

[2021-06-05 15:19] #69 closed

[2021-06-05 15:22] swinslow commented on #69
For anyone who needs to change their local branch settings, here are the instructions from GitHub (you should see these as well when you visit the repo page):

[code]

Note that you may need to change `origin` to e.g. `upstream` depending on your local settings.

[2021-06-10 21:55] ianling opened #71 "Add utility function for retrieving packages with arbitrary relationships"
https://github.com/spdx/tools-golang/blob/main/spdxlib/described_elements.go

This file contains functions that allow you to retrieve the IDs of the packages described by the document.

Would it be possible to get a similar function that allows us to retrieve IDs of packages that have a given relationship, e.g. DEPENDS_ON/DEPENDENCY_OF, rather than specifically DESCRIBES/DESCRIBED_BY?

Something l

[2021-06-11 19:05] swinslow commented on #71
This is a great suggestion, thanks @ianling. Yes, I expect this would be very useful.

One consideration would be whether the search should be on just one side of the relationship (e.g. just RefA or just RefB), or should search both. Most of the [relationship types](https://spdx.github.io/spdx-spec/7-relationships-between-SPDX-elements/#71-relationship) are "directional" in that it's meaningful wh

[2021-06-20 14:23] swinslow opened #76 "tvsaver: missing text flags for various fields"
In tvsaver, it appears that the `textify()` call is missing for FileNotice and FileComment:

https://github.com/spdx/tools-golang/blob/8574b91809e949442fa0cbf3174d9ae83cd69f60/tvsaver/saver2v2/save_file.go#L53-L58

This means that if those fields contain multi-line text, the output will be invalid because they are missing the `<text></text>` wrapping tags.

* [x] Spot-check other Comments fields a

[2021-06-20 15:54] swinslow commented on #76
may be duplicate of #53

[2021-06-20 16:06] swinslow opened #77 "jsonloader: typo in filenames"
cc @specter25

In the `json` branch, there are files at:

* `jsonloader2v2/parse_reationship.go`
* `jsonloader2v2/parse_reationship_test.go`

`relationship` is misspelled as `reationship` in these filenames. They should be corrected (a simple `git mv` should take care of it).

[2021-06-20 16:11] swinslow opened #78 "jsonloader: reorganize files"
cc @specter25

In the `json` branch, the JSON parser files are all within a top-level directory called `jsonloader2v2`.

In order to maintain the same structure as the RDF and tag-value loaders, I'd suggest making the following changes:
* change the top-level directory name to `jsonloader/`
* create a subdirectory within that called `parser2v2/`
* keep the main `jsonloader.go` and `jsonloader_test

[2021-06-20 16:18] swinslow opened #79 "jsonloader: "excludes" in packageVerificationCode"
cc @specter25

In the `json` branch, when parsing the `packageVerificationCode` object, it appears that the current JSON parser is expecting an `excludes:` tag to be present within the array elements:

https://github.com/spdx/tools-golang/blob/8a86c1f72d8c1181841b3e4ee66c424862dba357/examples/8-jsonpasrser2v2/test.json#L99-L102

For parsing tag-value documents, that would be correct: the tag-value

[2021-06-20 16:23] swinslow opened #80 "jsonloader: crashes if packageVerificationCodeExcludedFiles is not present"
cc @specter25

In the `json` branch, jsonloader is crashing when trying to parse a package that contains no `packageVerificationCodeExcludedFiles` property in the `packageVerificationCode` object.

Sample file: [example1-modded.txt](https://github.com/spdx/tools-golang/files/6682687/example1-modded.txt)  (note that this is a JSON file, but GitHub won't let me upload it with the `.json` extension)

[2021-06-20 16:25] swinslow opened #81 "jsonloader: Snippet byte ranges are parsed into the wrong field"
cc @specter25

In the `json` branch, when parsing Snippets, it is incorrectly assigning the Byte start/end data into the Line start/end variables. See lines 68 and 69 below:

https://github.com/spdx/tools-golang/blob/ca9e0d9572b07cc54a1690dd95f2aac901d2439c/jsonloader2v2/parse_snippets.go#L57-L70

[2021-06-20 16:28] swinslow opened #82 "jsonloader: File ID should be filled into SnippetFromFileSPDXID field"
cc @specter25

In the `json` branch, when parsing a Snippet and getting the ID of the corresponding File from the `snippetFromFile` property, the JSON parser is correctly associating the Snippet with the File that has that ID.

However, note that the Snippet structure also has a field where this element should be filled in. See line 14 below:

https://github.com/spdx/tools-golang/blob/ca9e0d9572b0

[2021-06-22 05:13] specter25 commented on #79
cc @swinslow

https://github.com/spdx/spdx-spec/blob/master/examples/SPDXJSONExample-v2.2.spdx.json#L100-L103

The JSON example file in the master branch of that repository has the excludes: tag before the file name . So should I still remove it , or add compatibility for both the situations whether the excludes tag is present or not .

[2021-06-23 15:27] swinslow commented on #79
Hmm... good point. The primary and default branch for the spdx-spec repo is development/v2.2.1, and the JSON example there is the one that's continuing to be updated.

That said, if it's straightforward to handle either case -- check for "excludes" if it's there, and handle either case -- that would be ideal. Thanks!

[2021-06-24 13:15] swinslow commented on #77
@swinslow to check and confirm this is fixed following #83

[2021-06-24 13:15] swinslow commented on #78
@swinslow to check and confirm this is fixed following #83

[2021-06-24 13:15] swinslow commented on #80
@swinslow to check and confirm this is fixed following #83

[2021-06-24 13:15] swinslow commented on #81
@swinslow to check and confirm this is fixed following #83

[2021-06-24 13:15] swinslow commented on #82
@swinslow to check and confirm this is fixed following #83

[2021-07-04 12:52] swinslow opened #85 "Prepare 0.2.0 release"
Key items before release:
* [x] Review and test json branch, closing fixed bugs
* [x] Merge in json branch with support for reading json files
* [x] Check other open issues
* [x] Close issue re: API / field name changes
* [x] Update README
* [x] Add release notes

[2021-07-04 12:59] swinslow commented on #77
Fixed in #83

[2021-07-04 12:59] #77 closed

[2021-07-04 13:00] swinslow commented on #78
Fixed in #83, thanks @specter25!

[2021-07-04 13:00] #78 closed

[2021-07-04 13:05] swinslow opened #86 "tvsaver: Missing colon for PackageVerificationCode 'excludes'"
When saving out a Package that has an 'excludes' value for the PackageVerificationCode (see [section 3.9 of the spec](https://spdx.github.io/spdx-spec/3-package-information/#39-package-verification-code), the tag-value saver appears to incorrectly omit the ':' that the spec says should come after 'excludes'.

[2021-07-04 13:29] swinslow commented on #79
Appears to be fixed in #83, thanks @specter25!

[2021-07-04 13:29] #79 closed

[2021-07-04 13:32] swinslow commented on #80
Confirmed fixed in #83

[2021-07-04 13:32] #80 closed

[2021-07-04 13:33] swinslow commented on #81
Confirmed fixed in #83

[2021-07-04 13:33] #81 closed

[2021-07-04 13:34] swinslow commented on #82
Confirmed fixed in #83

[2021-07-04 13:34] #82 closed

[2021-07-04 13:34] swinslow commented on #71
Fixed in #74, thank you @ianling!

[2021-07-04 13:34] #71 closed

[2021-07-04 13:36] swinslow commented on #67
Confirmed, see discussion at https://github.com/swinslow/cmake-spdx/issues/8

This is a bug and should be fixed for 0.2.0

[2021-07-04 13:51] swinslow commented on #23
Reading JSON files has now been merged as of #87.

[2021-07-04 13:56] swinslow commented on #47
As mentioned at https://github.com/spdx/tools-golang/pull/57#issuecomment-873595921, I'm going to close this issue for now, as the existing field names are getting used by users of the project. As the tools-golang community grows, we can re-evaluate and reconsider in the future if appropriate.

[2021-07-04 13:56] #47 closed

[2021-07-04 14:58] #26 closed

[2021-07-04 15:04] #86 closed

[2021-07-04 15:18] swinslow commented on #67
Okay, so, after further review this is (arguably) not actually an issue in tools-golang.

There isn't currently anything in tools-golang (at least, that I'm currently seeing) that would directly cause a SHA256 hash to be set for a checksum, rather than SHA1. The builder package doesn't set it, because it doesn't add any External Document References. External Document References are only created ma

[2021-07-04 15:18] #67 closed

[2021-07-04 15:53] swinslow commented on #53
Closing, addressed in #76

[2021-07-04 15:53] #53 closed

[2021-07-04 15:59] #76 closed

[2021-07-04 17:05] #85 closed

[2021-07-15 20:57] specter25 opened #93 "Tvsaver : invalid tag SnippetSPDXIdentifier"
cc @swinslow

The tag-value saver has a parses Snippet SPDX Id's incorrectly using the tag SnippetSPDXIdentifier whereas it should be SnippetSPDXID as defined in the SPDX specification .

[2021-07-31 20:01] swinslow commented on #93
Great catch, thanks @specter25! I'll take a look at this and will fix it.

[2021-07-31 20:15] #93 closed

[2021-07-31 20:16] swinslow commented on #93
Fixed with #95, thank you @specter25!

[2021-08-02 16:49] chewong opened #96 "[tvloader] got unknown checksum type SHA512"
Unable to parse the following SPDX file with `tvloader` package:

[code]

Got the following error:
[code]

[2021-08-03 14:24] swinslow commented on #96
Hi @chewong, just to confirm, were you using the SPDX-2.1 parser (`tvloader/parser2v1`) or the SPDX-2.2 parser (`tvloader/parser2v2`)?

SHA512 wasn't a valid optional checksum in SPDX v2.1 (see [SPDX 2.1 spec section 4.4.4](https://spdx.dev/spdx-specification-21-web-version/#h.wz2ycokhf58)) but became valid in v2.2 (see [SPDX spec section 4.4.4](https://spdx.github.io/spdx-spec/4-file-information/

[2021-08-03 16:30] chewong commented on #96
I am using the SPDX-2.2 parser. Thanks!

[2021-08-20 01:27] josedonizetti commented on #7
@swinslow Is anyone looking into the `rdfsaver`? If not I'd like to work on it.

[2021-12-01 18:35] eccles opened #101 "Does not follow spec"
Just used this for the first time and I note that this code has 2 string slices in CreatorInfo called CreatorPersons and CreatorOrganizations.

However the spec for 2.2.1 only has a scalar Creator field which is specified in the NTIA report.

The spec is here: https://spdx.github.io/spdx-spec/v2-draft/ - hopefully I have this right

and the NTIA report: https://www.ntia.doc.gov/files/ntia/publicat

[2021-12-02 14:15] swinslow commented on #101
Hi @eccles, thanks for reaching out on this.

My understanding of the 2.2.1 spec is that it is mandatory to have at least one Creator specified, but it is permitted to have more than one. See https://spdx.github.io/spdx-spec/v2-draft/document-creation-information/#68-creator-field -- Cardinality is specified as `1..*`

For the golang tools, if more than one Creator is stored in the CreationInfo fo

[2021-12-03 09:05] eccles commented on #101
yes - thanks for this - I see I am actually misreading the spec - my apologies for the noise and thank you for your considered response.

I have been writing testcode for this and this made me realise what is actually happening.
Closing ticket.

[2021-12-03 09:05] #101 closed

[2022-01-10 17:26] kzantow commented on #23
Hi, I'm looking at using the JSON reader functionality but hit a snag already: it doesn't work with the examples provided in the spdx-examples repo here: https://github.com/spdx/spdx-examples/tree/master/example7/spdx would you prefer new issues be added or potentially add comments to this one? And would you be amenable to PRs for this? Thanks much!

[2022-02-21 20:57] swinslow opened #102 "Prepare 0.3.0 release"
Key items before release:
* [X] Review and test json branch
* [X] Merge in json branch with support for saving json files
* [x] Address issue #103
* [x] Address issue #107
* [x] Address issue #116
* [X] Review and edit new docs
* [x] Check other open issues
* [x] Update README
* [x] Publish -rc1
* [x] Add release notes
* [x] 1 week for feedback on -rc1, then:
  * [x] update release notes for recen

[2022-02-21 21:51] swinslow opened #103 "jsonsaver: omit empty lists rather than null"
As flagged in #100 (thank you @yanyag!), currently jsonsaver will output `null` for properties such as `files`, `snippets` and `externalDocumentRefs` if there are none.

Similarly, if there is no `excludes` item for `packageVerificationCodeExcludedFiles`, it will output `[""]`.

Looking at the examples from the [spdx-spec](https://github.com/spdx/spdx-spec/blob/development/v2.2.2/examples/SPDXJSON

[2022-02-21 21:57] swinslow commented on #23
Hi @kzantow, thanks for this (and apologies for the slow response!)

If the problems you're seeing appear to be with the Golang tools, feel free to file them here. Probably best to file them as new issues so they can be separately tracked, rather than incorporating them into this one. Thank you!

[2022-02-21 22:29] swinslow opened #105 "Add link to pkg.go.dev documentation"
https://pkg.go.dev/github.com/spdx/tools-golang

Should add to README (or somewhere) before releasing 0.3.0

[2022-03-12 14:59] swinslow commented on #96
Having now taken a closer look at this (finally):

This is a bug which does need to be addressed, because it is causing valid SPDX 2.2 documents not to be parsed.

However, I am moving it to the 0.4.0 release milestone. Handling the additional checksums is likely going to require reworking the model for Packages, Files and Snippets to have checksums be handled via a algorithm-to-value map -- rathe

[2022-03-13 15:57] swinslow opened #107 "builder: File paths are not relative"
From at least one test when running `idsearcher` and `builder` on a directory, the file paths for FileName are being generated incorrectly as `/filename.txt` rather than `./filename.txt`.

[The SPDX spec requires](https://spdx.github.io/spdx-spec/file-information/#81-file-name-field) that the FileName field consist of relative paths.

[2022-03-13 16:02] #103 closed

[2022-03-13 16:08] CatalinStratu commented on #107
Hi, can I handle this issue?
I really want to participate in GSOC in this project and the more issues I solve, the better I will understand the project!

[2022-03-13 16:14] swinslow commented on #107
@CatalinStratu sure! Thank you for the offer  :)

It looks like you've been getting familiar with the tools-golang codebase, but just to help point you in the right direction, here's where I think you're going to want to look:
* the [`builder/`](https://github.com/spdx/tools-golang/tree/main/builder) directory contains the code which scans a directory and creates an SPDX Document based on its cont

[2022-03-13 16:17] swinslow commented on #107
Oh, and also to test this out, you can use [Example #3](https://github.com/spdx/tools-golang/blob/main/examples/3-build/example_build.go) as a command-line tool to call the builder functions.

Just run `go build` in that directory and then it should give you details on how to run it. You can then look at the SPDX Document it generates and check the `FileName` fields to see whether or not they are

[2022-03-13 16:41] #105 closed

[2022-03-13 16:44] swinslow opened #110 "Get OpenSSF Best Practices badge"
https://bestpractices.coreinfrastructure.org/en

Long-term project; look into what is required in terms of technical as well as community enhancements to qualify for the badge.

[2022-03-13 16:56] swinslow commented on #110
Filled in Basics section; much more to do!

https://bestpractices.coreinfrastructure.org/projects/5710

[2022-03-14 08:59] CatalinStratu commented on #107
Hi, what do you think about "FileName:" from screenshot?
![image](https://user-images.githubusercontent.com/28156781/158138047-5e2da3a2-7b58-4d64-85db-990e1bec2761.png)

[2022-03-14 11:25] RishabhBhatnagar commented on #30
Upon retrying to test using golang version 1.18beta2,
The tests ran successfully.

Closing now as the issue not reproducible anymore.
If anyone faces this error in the future, feel free to re-open the issue.

[2022-03-14 11:25] #30 closed

[2022-03-14 19:01] swinslow commented on #30
Thank you @RishabhBhatnagar! Appreciate you having checked back on this one  :)

[2022-03-14 19:11] swinslow commented on #48
Marking this as part of 0.4.0, so we can consider it together with some other potential API changes for that release.

[2022-03-14 19:12] swinslow commented on #27
Marking this as part of 0.4.0, so we can consider it together with some other potential API changes for that release.

[2022-03-14 19:14] swinslow commented on #107
Hi @CatalinStratu, take a look at my comment on your PR at https://github.com/spdx/tools-golang/pull/114#issuecomment-1067186975 about the "relative path" that should apply here. Thanks!

[2022-03-16 17:20] CatalinStratu opened #115 "examples: Add a comment in the `examples/` folder for each example program explaining how to run it"
Add a comment in the `examples/` folder for each example program explaining how to run it.

It is desirable that these comments be added after Pull Request #114  is successfully accepted because the first comment of this kind was added in this PR.

Running examples are required for the following examples:

- `examples/1-load`
- `examples/2-load-save`
- `examples/4-search`
- `examples/5-report`
- `

[2022-03-26 19:52] swinslow opened #116 "builder: Missing mandatory field LicenseInfoInFile"
SPDX Documents created by `builder` appear to be missing the mandatory field `LicenseInfoInFile` for each File section that the builder creates.

This appears to be the combination of:
* in `builder`, [`BuildFileSection2_2`](https://github.com/spdx/tools-golang/blob/4250e11a6f1fac2967008d51f5170630f1f75faa/builder/builder2v2/build_file.go#L50) (and 2_1) creating an empty slice of strings for that

[2022-03-26 19:56] swinslow opened #117 "Add tests to CI for Windows (and maybe others)"
Since Windows handles filepaths differently (and probably some other things I'm not thinking of), we should also configure the GitHub Actions testing to run on a Windows VM -- if that's doable within GitHub Actions. Should also look into whether to do the same for e.g. MacOS and/or others.

[2022-03-26 19:58] swinslow opened #118 "Auto-generate SPDX SBOM for each release"
Seeing as we've got this shiny SPDX Document creator sitting right here, we may as well run it on itself as part of the CI process for each release of tools-golang.  :)

Notes:
* should be automated using GitHub Actions
* should be sure to incorporate the [NTIA minimum SBOM elements](https://www.ntia.doc.gov/files/ntia/publications/sbom_minimum_elements_report.pdf)

[2022-03-26 20:00] swinslow commented on #107
Fixed in #114, thank you @CatalinStratu!

[2022-03-26 20:00] #107 closed

[2022-03-26 20:26] #116 closed

[2022-03-26 20:29] swinslow commented on #23
Now that [`jsonsaver`](https://github.com/spdx/tools-golang/tree/main/jsonsaver) has landed in the main branch, I'm going to go ahead and call this resolved. Thank you again @specter25 for all your hard work on implementing the SPDX JSON functionality!

[2022-03-26 20:29] #23 closed

[2022-03-27 13:51] CatalinStratu commented on #117
@swinslow , I can try to handle this issue!

[2022-03-27 15:03] swinslow commented on #117
That's great -- thank you @CatalinStratu!

[2022-03-27 15:12] CatalinStratu commented on #117
Thanks, I'll take care of this task after I'm done with task #120

[2022-03-28 16:13] CatalinStratu opened #124 "tvloader: Error when Snippet does not immediately follow its File section"
When two identical files are inserted, the error below appears.
![image](https://user-images.githubusercontent.com/28156781/160440763-92b4da6e-4923-4bb6-96bf-09d3a6de5250.png)

The file that I used when I identified this error is: [https://github.com/spdx/spdx-spec/blob/development/v2.2.2/examples/SPDXTagExample-v2.2.spdx](https://github.com/spdx/spdx-spec/blob/development/v2.2.2/examples/SPDXTagE

[2022-03-31 00:31] swinslow commented on #115
Fixed in #123, thank you @CatalinStratu!

[2022-03-31 01:03] swinslow commented on #124
Thanks for filing this @CatalinStratu -- I'm taking a look now to see whether this is an issue with the example / sample document, or with the tvloader parser.

As mentioned [here](https://github.com/spdx/tools-golang/pull/123#discussion_r839067848), note though that I think the files being compared in this example are not actually identical. That shouldn't cause the parsing issue here, but just f

[2022-03-31 01:34] swinslow commented on #124
OK -- so it looks like this is a parsing error in tvloader, due to an ambiguity in the SPDX spec. See https://github.com/spdx/spdx-spec/issues/651 for more details.

Basically, one possible reading of the spec says that, for tag-value files, a Snippet section should always come immediately after the File section that "contains" it. But a different reading is just that the Snippet needs to be _some

[2022-03-31 02:23] swinslow opened #128 "Brainstorming for 0.4.0 roadmap"
0.3.0 isn't out yet, but will likely be pushed in the next few days. In the meantime, let's start brainstorming for what to include in 0.4.0!

Nothing here is certain to be included, but please feel free to comment with ideas for improvements that we could go after for 0.4.0.

# Governance improvements
* *Maintainers*: I'd like to start bringing on additional maintainers with commit access, beyond

[2022-03-31 14:53] CatalinStratu commented on #117
It will be necessary to refactor some unit tests. To be able to make all the tests run well on both Linux and Windows
![image](https://user-images.githubusercontent.com/28156781/161084556-349afd8a-6816-42c4-880b-2b523ce39de8.png)

[2022-03-31 15:50] swinslow commented on #117
Thanks @CatalinStratu. If there are some tests that need refactoring, that makes sense and that's fine to include in a proposed PR.

I'd suggest breaking up refactoring changes into small separate PRs wherever possible so that they can be discussed one by one, rather than one very large PR which would be harder to evaluate.

On the specific failures from your screenshot, note that the verification

[2022-03-31 15:51] swinslow commented on #117
Oh, I forgot to mention -- in case you're wondering what this verification code thingy is, [section 7.9 of the SPDX spec](https://spdx.github.io/spdx-spec/package-information/#79-package-verification-code-field) has more details.

[2022-03-31 17:34] CatalinStratu commented on #117
@swinslow  https://github.com/golang/go/issues/39183

[2022-04-01 08:34] CatalinStratu commented on #117
@swinslow  The solution proposed by me can be found in this PR https://github.com/spdx/tools-golang/pull/129

[2022-04-02 09:04] CatalinStratu opened #130 "Generics code refactoring example #GSOC"
Hi, I'm preparing the proposal for GSOC.
I want to show an example of how I would like to do refactoring using generics.
I tried refactoring `tvsaver/saver2v1/save_anotation.go` and `tvsaver/saver2v2/save_anotation.go`.
From the beginning, I will make a new package and rename it `tvsaver/saver`.
Also, instead of `renderAnnotation2_1` and `renderAnnotation2_2` methods, there will be only one `tvsav

[2022-04-03 04:10] RishabhBhatnagar commented on #130
Having an interface for abstracting out fields of the underlying data structure is a good approach towards a better design.
As evident from your example, having separate implementations for every function in the interface for both the variants causes repeated code.
What are your thoughts on using composition for this problem? Composition would help in removing common implementation and let variant

[2022-04-03 05:42] CatalinStratu commented on #130
Thanks for the feedback @RishabhBhatnagar

[code]
An example with composition. What do you think?

[2022-04-03 06:17] RishabhBhatnagar commented on #130
The composition approach LGTM.
Just a note: with this code, you are trying to do two things at a time: extracting out the common parts, and creating an abstraction layer over the struct fields.
Moving ahead, if we decide to take this approach, we might consider not exporting the struct fields, and the common struct.

If possible, add a sample code (for others to see) on how this refactoring could

[2022-04-03 07:33] CatalinStratu commented on #130
@RishabhBhatnagar, in this issue (https://github.com/golang/go/issues/48522), Robert Griesemer explains why generics cannot be used for entire structures but only for their fields.

Code example with generics : https://github.com/CatalinStratu/SPDX-generics-code-refactoring-example/blob/main/tvsaver/saver/save_annotation.go
https://github.com/CatalinStratu/SPDX-generics-code-refactoring-example/bl

[2022-04-03 14:27] swinslow commented on #102
v0.3.0 is now released: https://github.com/spdx/tools-golang/releases/tag/v0.3.0

:tada:

[2022-04-03 14:27] #102 closed

[2022-04-03 17:04] CatalinStratu commented on #130
@swinslow, what is your opinion about this?

[2022-04-04 19:55] CatalinStratu commented on #130
I would like to implement in my proposal "Update of Go SPDX libraries to handle latest spec" and "SPDX Golang RDF Saver" ideas,  at project size can I put large size project? @RishabhBhatnagar  @swinslow  @zvr

[2022-04-06 06:45] CatalinStratu commented on #124
@swinslow I would like to work on this issue, can you give me some suggestions on where I can look for the problem? Thanks!

[2022-04-13 16:28] ianling opened #135 "YAML Parser and Writer"
Just adding issues to track work I am doing downstream.

YAML support is added in #134, but this PR relies on #133, as it builds off the top of the JSON refactor

[2022-04-13 16:28] ianling opened #136 "XLSX Parser and Writer"
Another one to track work I am doing downstream.

Still working on the XLSX parser and writer.

[2022-04-13 16:48] swinslow commented on #136
This is awesome, thank you @ianling!

[2022-04-21 18:03] ianling commented on #96
@swinslow got this one in #139

[2022-04-27 01:16] #135 closed

[2022-04-27 01:18] swinslow opened #140 "Update licensing and dependency statements"
As discussed in #134, there are a handful of new dependencies with the support for new file formats. @swinslow to update the descriptions of dependencies and corresponding licenses.

In particular, note that gopkg.in/yaml.v2 is Apache-2.0, so the YAML file license expressions should likely be updated to `Apache-2.0 OR GPL-3.0-or-later` -- since Apache-2.0 is compatible with GPL-3.0 but viewed by s

[2022-05-17 13:20] CatalinStratu opened #143 "yaml and json are small coverage"
Hi, I see that yaml and json are small coverage, can I try to add more unit tests for these two packages?

[2022-05-17 13:28] CatalinStratu commented on #124
Hi @swinslow, this problem was solved by @ianling in the PR #133

[2022-05-21 07:38] #130 closed

[2022-05-23 13:13] lumjjb opened #144 "See how to integrate library into kubernetes-sigs/bom"
Currently the tooling in https://github.com/kubernetes-sigs/bom rewrites its SPDX library/structs. Part of this is to investigate how we can shape the library or provide helpers to incentivize the bom tool to use our libraries - potentially also to have one of the bom tool maintainers to be involved in this repo as well.

[2022-05-23 13:13] lumjjb commented on #144
/assign @lumjjb

[2022-06-03 19:52] ianling commented on #143
Looking at the coverage report, the only lines that are missing coverage are two `if err != nil {` lines. It would be very simple to add tests for those, but all we would be testing is that an error is returned, which it clearly is, so I'm not sure that it adds any value to get coverage there.

If you're bored and feel like doing it, by all means go ahead though.

[2022-06-03 20:01] ianling opened #145 "Bug: Package FilesAnalyzed field does not behave according to spec"
Per the spec, if the FilesAnalyzed field is absent from a document, that should be interpreted as `FilesAnalyzed: true`.

Unfortunately, for the JSON and YAML parsers/savers, this was missed, so if they are absent, they default to false.

Additionally, the zero/empty value of a boolean in Go is `false`, and the FilesAnalyzed field's JSON tag contains `omitempty`, so we are unable to write out the

[2022-06-03 20:02] ianling commented on #145
I am handling this

[2022-06-03 21:26] seabass-labrax commented on #143
There is certainly value in getting a 100% coverage report if it reassures future developers that there aren't any gaps :wink:

[2022-06-03 22:26] ianling commented on #143
Yeah, just my opinion. I may not be in the majority when I question the meaningfulness of code coverage reports, but if it aids in increasing developer confidence and mass adoption of the SPDX standard, you are absolutely right that there is value there, regardless of whether there is a real effect on code quality.

@CatalinStratu I think you should go ahead and add some tests for these lines that

[2022-06-03 22:30] #143 closed

[2022-06-03 22:33] CatalinStratu commented on #143
Hi, @ianling  and @seabass-labrax , I will probably close this issue. Thanks!

[2022-06-03 22:33] CatalinStratu commented on #143
Hi, @ianling  and @seabass-labrax , I will probably close this issue. Thanks!

[2022-06-05 15:03] swinslow commented on #145
Thanks @ianling. For what it's worth, the way I addressed this in the original tag-value code and SPDX model for the Golang tools was to add a second parameter, `IsFilesAnalyzedTagPresent`:

https://github.com/spdx/tools-golang/blob/a532726dbb7a38d0f714075e9a1f1df4cae60230/spdx/package.go#L139-L143

Then, when parsing a document and encountering a new Package section, the default settings for that

[2022-06-05 20:35] CatalinStratu commented on #124
This problem was solved in the PR #133

[2022-06-05 20:35] #124 closed

[2022-06-08 20:24] jdolitsky opened #149 "RDF loader breaks on XML SPDX produced by the maven plugin"
Generated an XML SPDX doc using the maven plugin (https://github.com/spdx/spdx-maven-plugin) with:

[code]

The top-level project had no license itself, resulting in a document that looks like this:
[code]

When running
[code]

I receive error:

[code]

If I manually remove this part from the XML document:
[code]

Then things work properly.

I'm not sure if the issue is in the maven plugin or here

[2022-06-08 20:28] jdolitsky commented on #149
Related to https://github.com/spdx/spdx-maven-plugin/issues/46

[2022-06-12 08:15] RishabhBhatnagar commented on #149
Can you attach the file used?

I tried running rdfloader by completing the given snippet.
Couldn't replicate the issue.

[code]

[2022-06-13 14:21] lumjjb commented on #110
@swinslow i can work on this, but not sure how i can access to this though, may need access for spdx org?

[2022-06-25 10:30] CatalinStratu opened #150 "RDF Saver"
Hi, I am currently working on RDF saver, please assign me this task, I have described how I will create RDF Saver in my proposal for GSOC. Thanks!
[FuhgGH2RPlQJ2uZO.pdf](https://github.com/spdx/tools-golang/files/8984484/FuhgGH2RPlQJ2uZO.pdf)

[2022-06-29 14:45] santoshkowshikhr opened #151 "SPDX loader fails for large files."
Hi Team,

I tried to import the SPDX file with 3000+ packages, but it failed to read the file. Is there a limitation on the number of packages that we can read?

Any help or suggestion is appreciated.

Regards,
Santosh

[2022-07-10 04:23] YuraYatsyshyn commented on #151
test.yml

[2022-07-10 04:23] YuraYatsyshyn commented on #151
Uhhh

[2022-07-14 18:56] lumjjb commented on #151
Hi @santoshkowshikhr , do you have any logs or error messages that you can share? Thanks!

[2022-07-19 14:55] lumjjb opened #152 "Adding minor versions: Versioning refactor proposal"
# Versioning refactor proposal

This design document covers a proposal for refactoring SPDX versioned structs with the goal of making the process of adding a new semantic minor version of the SPDX spec easier (e.g. with the coming introduction of 2.3).

Linked Issues:
- https://github.com/spdx/tools-golang/issues/167
- https://github.com/spdx/tools-golang/issues/165

## Goals

1. Making the SPDX s

[2022-07-19 14:56] lumjjb commented on #152
@swinslow for visibility - we had a chat about this last week.

[2022-08-03 18:54] swinslow commented on #152
I believe Part 1 / Goal 1 from your list should now be complete, with #146 merged?

[2022-08-04 01:09] lumjjb commented on #152
Yup! Going to move on to part 2!!

On Wed, Aug 3, 2022, 2:54 PM Steve Winslow ***@***.***> wrote:

[2022-08-18 16:39] swinslow commented on #110
@lumjjb I just updated a couple of the items after merging #154 (to add SECURITY.md).

Let me check what I can configure for the BadgeApp settings -- will circle back...

[2022-08-18 16:45] swinslow commented on #110
Hi @lumjjb -- based on https://github.com/coreinfrastructure/best-practices-badge/blob/main/doc/implementation.md#authentication and the next section below it, I _think_ that you should have access to the BadgeApp form for the SPDX Golang tools if you log into BadgeApp using your GitHub account. Hopefully that should pick up that you're now an admin for the Golang tools.  Let me know if you still

[2022-08-18 21:41] lumjjb commented on #110
Awesome! Yea it looks like i can edit it now!! Cheers!

[2022-08-26 17:51] lumjjb opened #155 "[WIP] Golang tools roadmap"
2022 2H (v0.4.0)
- [ ] Core model
  - [ ] Mapping from 2.1/2 to core
  - [ ] Do deduplication of code
- [ ] 2.3 support
  - [ ] struct
  - [ ] functions
- [ ] Higher level helper function/libraries to use ([reference bom tool](https://github.com/spdx/tools-golang/issues/144), etc.)
  - [ ] base: here's how to interact with SPDX elements
  - [ ] context-specific: to work with container images, rpm,

[2022-08-26 19:44] lumjjb opened #156 "SPDX 2.3 Support"
Implement SPDX 2.3 support (preferably waiting on https://github.com/spdx/tools-golang/issues/152) for refactor changes.

2.3 Link: https://spdx.github.io/spdx-spec/v2.3/

[2022-08-26 19:51] lumjjb opened #157 "Collect usage patterns to help drive adoption of tools-golang"
Talk to the following projects and organizations to figure out how they want to use the tools-golang library and how we can improve the repo to do so.

- Repos
  - [ ] kubernetes-sig/bom
  - [ ] anchore/syft
  - [ ] aquasecurity/trivy
  - [ ] [opensbom-generator/spdx-sbom-generator](https://github.com/opensbom-generator/spdx-sbom-generator)
- Organization use of library
    - [ ] Google (Brandon)

[2022-08-26 19:53] lumjjb opened #158 "License expression modeling and syntax"
License expression modeling and syntax: Relatedly, at present the licensing fields are just plain strings with no validation at all.

- These should take into account the SPDX license expression [model](https://spdx.github.io/spdx-spec/RDF-object-model-and-identifier-syntax/) and [syntax](https://spdx.github.io/spdx-spec/SPDX-license-expressions/).
- The tools should likely also include one or mor

[2022-08-26 19:55] lumjjb opened #159 "Providing more validation of string fields"
From: #128

* *Validation*: There are a number of fields right now that aren't closely checked for validity. As just one example, I don't believe SPDX IDs are checked to confirm that they use only permitted characters; many of the fields are plain `string`s and are not checked for particular formatting; etc.
  * A validator should also take into account whether and how it is used in connection wit

[2022-08-26 19:56] lumjjb opened #160 "Upgrading and downgrading documents"
From: #128 ... Should be partially addressed by https://github.com/spdx/tools-golang/issues/152

* *Upgrading and downgrading documents*: It could be useful to have a function that e.g. takes an SPDX-2.1 document (`spdx.Document2_1`) and converts it to an SPDX_2.2 document (`spdx.Document2_2`). Or vice versa, going the other direction.
  * This would likely require converting the various sub-eleme

[2022-08-31 06:29] qrdl opened #161 "FileChecksum doesn't support hash types as per spec"
Contrary to SPDX 2.2 spec 4.4.4 (`Other algorithms that can be provided optionally include SHA224, SHA256, SHA384, SHA512, MD2, MD4, MD5, MD6`) only SHA1, SHA256 and MD5 are actually supported by the parser: https://github.com/spdx/tools-golang/blob/main/tvloader/parser2v2/parse_file.go#L74 , all other algorithms cause parsing error

[2022-08-31 06:33] qrdl commented on #161
Dupe of #96

[2022-08-31 14:53] qrdl commented on #96
I'm also asking for support for other hash types in the parser.

[2022-09-23 17:12] nishakm commented on #156
Need help with this? I need a 2.3 model to implement a generator :)

[2022-09-23 17:19] lumjjb commented on #156
that would be super helpful!!!!

[2022-09-29 17:03] kzantow commented on #156
@nishakm I also need some of the new features of 2.3 -- could I help with this?

[2022-09-29 17:26] nishakm commented on #156
Absolutely!

[2022-09-29 19:05] lumjjb commented on #156
Assigned the issue to bot of you!!! Thank you!!

[2022-10-04 19:51] kzantow commented on #156
I'm starting to look at implementing this -- is there a document somewhere with the changes for 2.3?

[2022-10-04 21:44] lumjjb commented on #156
Awesome @kzantow !!!! Yes! Here's the changes from 2.2 (https://spdx.github.io/spdx-spec/v2.3/diffs-from-previous-editions/)! Is this something that's useful?

You can ignore the between v2.2.x versions because they are mainly documentation changes.

[2022-10-06 23:28] kzantow commented on #156
@lumjjb I've [added a draft PR](https://github.com/spdx/tools-golang/pull/164) with some initial changes for 2.3: namely a new v2_3 data model and JSON support, along with a number of other changes. It does not yet have the other format support (it will before I'd consider it done).

It looks like you did some of the refactoring for the current state of this repo, if you had a little time, could y

[2022-10-10 16:40] kzantow commented on #156
@lumjjb I believe I've implemented all the 2.3 support in this PR: https://github.com/spdx/tools-golang/pull/164

[2022-10-10 16:49] kzantow opened #165 "Refactoring based on versions"
I've implemented 2.3 support [with this PR](https://github.com/spdx/tools-golang/pull/164). This was not a particularly easy task, as there are a number of inconsistencies in the project layout. It is also not easy to see the differences between the 2.2 and 2.3 code paths. I have a suggestion to refactor this repository such that the layout uses versions at the top level, e.g. something like:

[co

[2022-10-10 16:55] kzantow commented on #156
I've also added a refactoring suggestion I would like to do here: https://github.com/spdx/tools-golang/issues/165 I know there are some other things (like translating between versions) that people would like to see, but I feel that's a separate issue and the refactoring would dramatically improve the experience every time someone needs to implement a new SPDX version.

[2022-10-10 19:06] kzantow commented on #152
Regarding Part 2: common working struct:

I would suggest this is _always_ the latest SPDX version, and each version has a function to convert from the prior version (much of this could be handled through reflection). Of course this may be lossy when going between major versions, but I suspect in the long term it will result in fewer problems than trying to convert every version to a common workin

[2022-10-10 21:23] kzantow commented on #165
I've made a draft PR to illustrate these changes here: https://github.com/kzantow-anchore/tools-golang/pull/1

I would not be opposed to removing the `v2` subdirectory, so things like 2.3 are `v2_3` instead of `v2/v2_3`, if that is something desired.

This PR is also incomplete:
* many of the comments have erroneous things that should be removed to make transition to a new spec easier
* many of th

[2022-10-10 21:47] kzantow commented on #165
One more note, if looking at this code change:
<img width="312" alt="image" src="https://user-images.githubusercontent.com/3009477/194956776-0c0184d8-fb01-4c11-8e3f-2868d1712744.png">

The following top-level directories would be moved underneath the appropriate version, but I haven't done this yet:
* builder
* idsearcher
* licensediff
* reporter
* spdxlib
* utils (verification)

The following top

[2022-10-11 03:23] lumjjb commented on #165
Hi @kzantow - thanks for diving deep into this!! Appreciate all the work and I hope to get in some comments on the 2.3 PR by this Wednesday! Thanks for taking the time to do some analysis and think through a refactor - I do agree that it needs some work!

We are expecting v3 to be out in the next year or so, which would be incompatible with v2, which was the reason we created a separate folder for

[2022-10-12 23:40] lucacome opened #166 "Update to add `documentDescribes` field to follow 2.2.2 spec"
I noticed that there are some fields missing, like `documentDescribes`, that I think were introduced with version `2.2.1` of the spec.

It'd be great if all of the fields in the https://github.com/spdx/spdx-spec/blob/v2.2.2/schemas/spdx-schema.json could be added.

Thanks! 🙏

[2022-10-13 16:00] kzantow opened #167 "Reduce utility duplication by implementing document conversions"
As part of the [suggested refactorings](https://github.com/spdx/tools-golang/issues/165) I proposed, it was noted that the utility functions such as `idsearcher.go`, which duplicate functionality for SPDX 2.1, 2.2, etc. could be made more generic using some reflection (and/or generics, which I don't think will help here).

Additionally, there is a desire to have the ability to convert between form

[2022-10-21 18:51] lumjjb opened #168 "Streamline testing with testCases and reflect.DeepEquals"
Currently , each test case is a test on its own and can be collapsed to a single test case with shared test function uses the following golang idiomatic test pattern:

[code]

In addition, `reflect.DeepEquals` can be used instead to do cleaner comparisons.

[2022-10-25 18:37] kchetans opened #169 "package download issue"
While i am downloading the spdx packge getting error

[go: downloading github.com/spdx/tools-golang/spdx/v2_2 v0.3.0
go: github.com/spdx/tools-golang/spdx/v2_2@v0.3.0: reading github.com/spdx/tools-golang/spdx/v2_2/go.mod at revision spdx/v2_2/v0.3.0: unknown revision spdx/v2_2/v0.3.0](go: module github.com/spdx/tools-golang@v0.3.0 found, but does not contain package github.com/spdx/tools-golang/s

[2022-10-30 18:48] kchetans commented on #169
In version, v0.3.0 doesn't have this directory github.com/spdx/tools-golang/spdx/v2_2 use `go get github.com/spdx/tools-golang@main`

[2022-10-30 18:48] #169 closed

[2022-10-31 20:21] #156 closed

[2022-11-03 15:50] lumjjb commented on #155
@swinslow @RishabhBhatnagar re-organized this to more realistic timelines and to prioritize a q4 release.

[2022-11-08 14:41] kzantow opened #171 "JSON readers are missing `hasFiles` handling"
Part of the SPDX 2.x JSON schema includes [a `hasFiles` field on packages](https://github.com/spdx/spdx-spec/blob/development/v2.3.1/schemas/spdx-schema.json#L345-L352). There is a reference to `hasFiles` in this repo's docs [here](https://github.com/spdx/tools-golang/blob/main/docs/jsonsaver.md?plain=1#L11) and [here](https://github.com/spdx/tools-golang/blob/main/docs/jsonloader.md?plain=1#L11)

[2022-11-08 14:57] lumjjb commented on #166
Thanks @lucacome for opening this issue - sorry for the late reponse. We will take a look at this and have it be part of the 0.4.0 milestone

[2022-11-08 15:26] kzantow commented on #171
@lumjjb as I understand it (and as it was explained in the [response](https://github.com/spdx/spdx-spec/issues/805#issuecomment-1306459467)) the `hasFiles` has been deprecated since 2.0 and is equivalent to relationship `CONTAINS`. I would suggest _not_ adding the field so users of the library generate SBOMs using the `CONTAINS` method only.

But to support SBOMs that are generated from other tool

[2022-11-08 16:58] goneall commented on #171
Just an FYI - If I remember correctly, the Java tools converts `hasFiles` to a `CONTAINS` relationship for the RDF/XML format but retains the `hasFiles` property.  A bit inconsistent, but I think there was a request to retain the `hasFile` for JSON readability.  For the 3.0 version I'm hoping to clean this up and make things much more consistent.

[2022-11-08 21:10] lucacome commented on #166
Thanks @lumjjb, it looks like also `2.3` came out in the meantime https://github.com/spdx/spdx-spec/blob/v2.3/schemas/spdx-schema.json